In [1]:
import numpy as np
import pickle

In [5]:
with open(r"C:\Main_Drive\work\workarea\projects\house_prices_prediction\obj\raw_loaded_df.pkl","rb") as file:
    house_df = pickle.load(file)

In [7]:
house_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [61]:
numerical_df.columns.tolist()

['Id',
 'MSSubClass',
 'LotFrontage',
 'LotArea',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'TotRmsAbvGrd',
 'Fireplaces',
 'GarageYrBlt',
 'GarageCars',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SalePrice']

Problem 1: Array Operations & Statistics

In [161]:
prices = house_df['SalePrice'].values
areas = house_df['GrLivArea'].values

# TASK A: Calculate key statistics
# 1. Mean, median, std of prices
print(f"Average sale price : {np.mean(prices).round(2)}")
print(f"Median of sale price : {np.median(prices)}")
print(f"Standard Deviation of sale price : {np.std(prices).round(1)}")

# 2. 25th, 75th percentiles
Q1 = np.percentile(prices,25)
Q3 = np.percentile(prices,75)
print(f"25-%ile of sale price : {Q1}")
print(f"75-%ile of sale price : {Q3}")

# 3. IQR (Q3 - Q1)
IQR = Q3-Q1
print(f"Interquartile Range of sale price : {IQR}")

# TASK B: Outlier detection 
# Method 1: IQR method (< Q1-1.5*IQR or > Q3+1.5*IQR)
upper = Q3 + (1.5 * IQR)
lower =  Q1 - (1.5 * IQR)
out1 = prices[(prices<lower) | (prices>upper)] 
out1

Average sale price : 180921.2
Median of sale price : 163000.0
Standard Deviation of sale price : 79415.3
25-%ile of sale price : 129975.0
75-%ile of sale price : 214000.0
Interquartile Range of sale price : 84025.0

array([345000, 385000, 438780, 383970, 372402, 412500, 501837, 475000,
       386250, 403000, 415298, 360000, 375000, 342643, 354000, 377426,
       437154, 394432, 426000, 555000, 440000, 380000, 374000, 430000,
       402861, 446261, 369900, 451950, 359100, 345000, 370878, 350000,
       402000, 423000, 372500, 392000, 755000, 361919, 341000, 538000,
       395000, 485000, 582933, 385000, 350000, 611657, 395192, 348000,
       556581, 424870, 625000, 392500, 745000, 367294, 465000, 378500,
       381000, 410000, 466500, 377500, 394617])

,

Problem 2: Vectorized Operations & Feature Engineering

In [182]:
# TASK A: Create features WITHOUT loops
# 1. Calculate PricePerSqFt 
PricePerSqFt = prices/areas 
PricePerSqFt

# 2. PriceCategory using np.select():
#    - 'Budget': < 150k
#    - 'Standard': 150k-250k
#    - 'Premium': 250k-400k
#    - 'Luxury': > 400k

condition = 
 

# TASK B: Conditional transformation
# Create 'ValueScore':
# - If OverallQual >= 8: score = price * 0.001 + area * 0.5
# - If OverallQual 5-7: score = price * 0.0008 + area * 0.4
# - If OverallQual < 5: score = price * 0.0005 + area * 0.3
# Use np.select() - NO LOOPS!

# TASK C: Compare performance
# Create same logic with loop vs vectorized
# Time both (use %%timeit in Jupyter)
# Observe the speed difference

[121.92982456 143.81933439 125.1399776  ... 113.88888889 131.84137291
 117.43630573]